<footer
  class="footer bg-dark py-3 mt-auto"
  style="
    background-color: #4d484a;
    background-image: linear-gradient(to bottom, #5a5e5f, #1c1d1c);
    border-color: #292021 #1d1a1a rgb(43, 41, 41);
    position: static;
  "
>
  <div class="container">
    <span class="text-muted">&copy; Review model 2021</span>
  </div>
</footer>
