<% layout('layouts/boilerplate')%>

<div
class="view"
style="
  background-image: url('../images/background.jpg');

  background-size: cover;
  position: fixed;
  height: 84.3vh;
  width: 117.2%;
margin-left: -9%;
margin-top: -5%;

"
>
    <body class="d-flex text-center text-dark bg-light">
            <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                <main class="px-3" style="position: relative; margin-left: 20%; top: 30% ">
                   <h1>ReviewModel</h1>
                   <p class="lead"> <h6>Welcome to ReviewModel! <br> Jump right in and explore other reviews. <br>
                    Feel free to share some of your valuable feeback !</h6></p>
                    <a href="/review" class="btn btn-lg btn-dark font-bold border-black bg-black" style="border-radius: 30px; text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
                    background-color: #4d484a;
                    background-image: linear-gradient(to bottom, #6e7577, #1c1d1c);  border-color: #292021 #1d1a1a rgb(43, 41, 41);">View
                    Reviews</a>
                </main>
            </div>  
        </body>
  </div>